body
{
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: #DADADA;
    margin:0px;
    paddind:0px;
    text-align:center;
    font-size:1.3em;
    color:black;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.max_height
{
    height: 100%;
}

.inline_table
{
    display: inline-table;
}

tr
{
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

td
{
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.unselectable
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.header_div
{
    width:100%;
    height:100px;
    background-image:url('/img/Logo_GRAFFITIbyOcsigen_blue.png');
    background-size:auto 100px;
    background-position:238px center;
    background-repeat:no-repeat;
}

.logo
{
    background-color:white;
    position:absolute;
    top:0em;
    right:0em;
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
}

.logo_img
{
    max-width:95%;
}

.save_button
{
    background-image: url('/img/save.png');
    background-position:17px center;
    background-repeat:no-repeat;
    background-color: #3E3E3E;
    border-radius: 50px 0px 0px 50px;
    height: 50px;
    width: 60px;
    position: absolute;
    top: 25px;
    right: 0px;
    transition: 1s;
    -webkit-transition: 1s;
    box-shadow: 0px 0px 5px #555555;
    -webkit-box-shadow: 0px 0px 3px #555555;
}

.save_link
{
    border: 0px;
}

.save_div
{
    width: 100%;
    height: 100%;
}

.gray_layer
{
    background-color:#222222;
    width:100%;
    height:100%;
    margin:0px;
    position:absolute;
    top:0em;
    left:0em;
    opacity:0.75;
    display:none;
}

.about_wrapper
{
    position:absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    display:none;
}

.about_block
{
    padding:4px;
    background-color:white;
    max-width:80%;
    max-height:80%;
    line-height: 1.2em;
    display: inline-block;
}

.about_logo
{
    max-width:80%;
}

canvas
{
    margin-left: 220px;
    border-style:solid;
    border-width:2px;
    border-color:#F2F2F2;
    background-color:white;
    vertical-align: middle;
}

.canvas2
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-color: transparent;
    background-color: transparent;
}

div#canvas {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.angle_div
{
    width: 43px;
    height: 43px;
    background-image: url('/img/angle.png');
    position: absolute;
    top: 0;
    right: 0;
}

.about_point
{
    float:right;
    width: 23px;
    height: 23px;
    background-image: url('/img/about.png');
    cursor: pointer;
}

.palette_wrap
{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color:#3E3E3E;
    box-shadow: 0px 0px 5px #555555;
    -webkit-box-shadow: 0px 0px 5px #555555;
    height: 100%;
}

.palette_button
{
    position: absolute;
    top: 80px;
    top: calc(50% - 30px);
    top: -webkit-calc(50% - 30px);
    left: 220px;
    width: 55px;
    height: 60px;
    background-color: #3E3E3E;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}

.grf_color_picker_color_div
{
    padding: 0px;
    position: relative;
    left: -3px;
    width: 20px;
    height: 20px;
    max-width: 52px;
    max-height: 52px;
    min-width: 1px;
    min-height: 1px;
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.grf_color_picker_block
{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 158px;
}

.grf_color_picker_table
{
    height: 100%;
    width: 100%;
}

.grf_color_picker_tr
{
    width: 100%;
}

.grf_color_picker_td
{
}

.grf_color_picker_square
{
    width: 100%;
    height: 40px;
}

/* the vertical align is make direclty with image's height */
.grf_slider_slider
{
    margin-left: 8px;
    margin-right: 8px;
    background-image: url('/img/maxibrush.png'), url('/img/minibrush.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center bottom;
    height: 92%;
}