
@media only screen and (min-device-width: 769px)
{

    body
    {
	font-size:1.3em;
    }

    .header_table
    {
	height:100px;
	background-size:auto 100px;
    }

    .header_center_td
    {
	width:80%;
    }

    .palette_button
    {
	width:10%;
    }

    .menu_button
    {
	width:10%;
    }

    .menu_option
    {
	height:3em;
    }

}