
@media only screen and (max-device-width: 480px)
{

    body
    {
        font-size:0.8em;
    }

    .save_button
    {
        width: 30px;
        top: 50px;
    }

    .save_div
    {
        width: 13px;
    }

    .palette_div
    {
        display:none;
    }


}