
@media only screen and (max-device-width: 480px)
{

    body
    {
        font-size:0.8em;
    }

    canvas
    {
        margin-left: 25px;
    }

    .save_button
    {
        width: 30px;
        top: 80px;
    }

    .save_div
    {
        width: 13px;
    }

    .palette_wrap
    {
        left: -196px;
    }

}