body
{
    max-width:100%;
    max-height:100%;
    overflow:hidden;
    background-image:url('/img/textured_paper.png');
    background-position:left top;
    background-repeat:repeat;
    margin:0px;
    paddind:0px;
    text-align:center;
    font-size:1.3em;
    color:black;
}

.unselectable
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.header_div
{
    width:100%;
    height:100px;
    background-image:url('/img/Logo_GRAFFITIbyOcsigen_blue.png');
    background-size:auto 100px;
    background-position:center center;
    background-repeat:no-repeat;
}

.logo
{
    background-color:white;
    position:absolute;
    top:0em;
    right:0em;
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
}

.logo_img
{
    max-width:95%;
}

.menu_button
{
    background-image: url('/img/menu.png');
    background-position:center center;
    background-repeat:no-repeat;
    height:100%;
    width:10%;
    float:right;
}

.menu_button:hover
{
    background-image: url('/img/menu_hover.png');
}

.menu_div
{
    margin:0px;
    padding:0px;
    position:absolute;
    right:0px;
    top:0px;
    display:none;
    background-color:#d6d6d6;
    border-style:solid;
    border-width:3px;
    border-color:#c6c6c6;
    text-align:center;
    width:100px;
    height:99%;
}

.menu_ul
{
    list-style-type:none;
    margin:0px;
    padding:0px;
    padding-top:1em;
    width:100%;
}

.menu_li
{
    width:100%;
    height:100%;
    padding:5px;
}

.menu_option
{
    width:100%;
    height:100%;
}

.menu_option:hover
{
    background-color:#b6b6b6;
}

.gray_layer
{
    background-color:#222222;
    width:100%;
    height:100%;
    margin:0px;
    position:absolute;
    top:0em;
    left:0em;
    opacity:0.75;
    display:none;
}

.about_block
{
    position:absolute;
    padding:1px;
    top:10%;
    left:10%;
    background-color:white;
    width:80%;
    max-height:90%;
    display:none;
}

.about_logo
{
    max-width:80%;
}

.content_div
{
    display: -webkit-flex;
    display:         flex;
}

.canvas_div
{
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

canvas
{
    background-color:#FFFFFF;
    border-style:solid;
    border-width:3px;
    border-color:#c6c6c6;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.palette_div
{
    margin:0px;
    padding:0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: inline-column;
    flex-flow: inline-column;
    width: 100px;
}

.color_div
{
    -webkit-flex-flow: column;
    flex-flow: column;
}

.color_picker_block
{
    margin-buttom:0px;
}

.color_picker_color_div
{
    margin-left:3px;
    margin-bottom:3px;
    width: 60px;
    height: 30px;
}

.brush_div
{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    max-width: 20px;
}

.brush_slider
{
    -webkit-appearance: slider-vertical;
    -webkit-flex-flow: inline-column;
    flex-flow: inline-column;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 20px;
}
