
@media only screen and (max-device-width: 480px)
{

    body
    {
	font-size:0.8em;
    }

    canvas
    {
	margin: 0px;
    }

    .palette_div
    {
	display:none;
	background-color:#d6d6d6;
	border-style:solid;
	border-width:3px;
	border-color:#c6c6c6;
    }


}