
@media only screen and (min-device-width: 481px) and (max-device-width: 768px)
{

    body
    {
	font-size:1.8em;
    }

    .header_div
    {
	height:90px;
	background-size:auto 90px;
    }

    .palette_button
    {
	width:20%;
    }

    .menu_button
    {
	width:20%;
    }

}