.grf_slider_slider
{
    background-color: #4C4C4C;
    border-radius: 20px 20px 20px 20px;
}

.grf_slider_slider_vertical
{
    top: 4px;
    height: auto;
    width: 38px;
    text-align: center;
}

.grf_slider_slider_horizontal
{
    left: 4px;
    width: auto;
    height: 38px;
    vertical-align: middle;
}

.grf_slider_dragger
{
    margin: 0px;
    position: relative;
    background-color: #868686;
    border-radius: 20px 20px 20px 20px;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.grf_slider_dragger_vertical
{
}

.grf_slider_dragger_horizontal
{
}