.GrfSlider_slider
{
    display: -webkit-flex;
    display:         flex;
    background-color: #4C4C4C;
    border-radius: 20px 20px 20px 20px;
}

.GrfSlider_slider_vertical
{
    -webkit-flex-flow: row;
    flex-flow: row;
    height: auto;
    width: 45px;
}

.GrfSlider_slider_horizontal
{
    -webkit-flex-flow: column;
    flex-flow: column;
    width: auto;
    height: 45px;
}

.GrfSlider_dragger
{
    margin: 0px;
    position: relative;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 28px;
    height: 28px;
}

.GrfSlider_dragger_vertical
{
    margin-left: auto;
    margin-right: auto;
}

.GrfSlider_dragger_horizontal
{
    margin-top: auto;
    margin-bottom: auto;
}