body {
  width: 750px;
}

canvas {
  border: solid 1px #aaaaaa;
}

div.goog-slider-vertical {
  position: absolute;
  top: 8px;
  left: 740px;
}

DIV.goog-hsv-palette-sm {
  position: absolute;
  top: 58px;
  left: 780px;
}

